@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
	display: flex;
	flex-direction: column;
	height: 100vh;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    background-color: #EDF1F7;
}

header {
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 1px solid #d8d9da
}
main {
	flex: 1;
	margin: 20px;
}

.link_menu {
    color: #558EFF;
	text-decoration: none;
}
.active-link, .link_menu:hover {color: #EE9830}
.main_menu {
	width: 100%;
	padding: 5px 15%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
    font-family: "Press Start 2P", system-ui;
    font-size: 0.6rem;
}

p {
	color:#545658;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	font-size: 1em;
	font-weight: 550;
}

.register {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.regis_form {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 30%;
	margin: 15px;
	padding: 5px;
	border: 2px solid #f7c594;
	background-color: white;
	border-radius: 20px;
}
.inputs {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.inputs>input, select { 
	width: 200px;
	padding: 8px;
	border: solid 1px #f0911d;
	background-color: inherit;
	border-radius: 15px;
	margin: 5px;
}
select {
	width: 220px;
	color: #545658;
}
.inputs>input:focus, select:focus {
	outline: none;
	border: 2px solid #1F58E7;
}

.inputs>input:invalid {
	border: 2px solid #fa8072;
}
.inputs>input:valid {
	border: 1px solid #1F58E7;
}

.regis {
	width: 50%;
	margin: 10px;
	color: white;
	font-size: 0.6rem;
	font-family: 'Press Start 2P';
	background: #2059E8;
	border: none;
	border-radius: 15px;
	padding: 10px;
}

.register>a {
	text-decoration: none;
}

.regis_form>h3 {
	color: #5c6163;
	font-family: 'Roboto', sans-serif;
}
.regis:hover {
	background-color: #5790FF;
}
.rl {
	width: 20%;
	text-align: center;
	text-decoration: none;
}
strong {
	color: #2F3132;
}

footer {
	width: 100%;
	display: flex;
	margin-top: auto;
	justify-content: center;
	align-items: center;
    background-color: #BDCFFB;
}

.foot_container {
	width: 80%;
	gap: 40px;
	padding: 10px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 1em;
}
.column {
	height: 200px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
}
.f_logo{
	width: 10vw;
}
.flink_menu, .link, .domen, .f_active-link:hover {
    color: #424548;
	font-weight: 400;
	text-decoration: none;
}
.link, .f_active-link {
	text-decoration: underline;
}
.f_active-link, .flink_menu:hover, .link:hover{
    color: #070707;
}

.column>h3 {
	font-size: 1.2em;
}

a[href^="tel"]::before {
	content: '☎'; 
    padding-right: 10px; 
    vertical-align: center; 
    font-size: 1.5em; 
	color: #424548;
}
a[href^="mailto"]::before {
	content: '@'; 
    padding-right: 10px; 
    vertical-align: center; 
    font-size: 1.5em; 
	color: #424548;
}

.social_medias {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.social {
	margin-top: 10px;					
	margin-right: 10px;
	width: 30px;
}